.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.rounded-image {
  border-radius: 50%;
  float: left;
  width: 50px;
}

.user-name{
  float: right;
}

.photo{
  display: block;
  margin: 50px auto;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
